#store {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.store-item {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.store-item img {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.store-item .item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #000;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
  pointer-events: none;
}
