#main {
  flex: 1; /* ocupa o resto da tela */
  display: flex;
  flex-direction: column;
  position: relative; /* permite store absoluto */
}

#clicks {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

#click-area {
  position: absolute;
  top: 1rem;
  left: 1rem;
  user-select: none;
  -webkit-user-select: none;
  width: 5rem;
  height: 5rem;
  border: solid 0.1rem #000;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.1s;
}

#click-area:active {
  transform: scale(0.95); /* efeito clique */
}

#item-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  user-select: none;
  -webkit-user-select: none;
  width: 15rem;
  height: 5rem;
  border: solid 0.1rem #000;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: auto;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
